.card {
    background: $md-white;
    box-shadow: 0 0 2px $md-grey-400;
    padding: 20px 25px;
    border-radius: 2px;
    margin-bottom: 20px;
    p {
        line-height: 2.2em;
    }

    .date {
        font-size: small;
        color: $md-grey-700;
        margin-bottom: 10px;
    }
}
