.logo {
    color: $md-grey-200;
    margin: 50px 10px 0;
    font-size: 2em;
}

.top-bar {
    ul:first-child {
        > li {
            text-align: center;
            border-bottom: 4px solid $primary-color;
            a {
                color: $md-grey-200;
            }
            &:hover {
                border-bottom-color: $md-pink-500;
                a {
                    color: $md-white;
                }
            }
        }
    }
}

.top-bar-section ul li {
    float: right;
}

.site-footer {
    text-align: center;
    font-size: small;
    background: lighten($md-grey-300, 6%);
    border-top: 1px solid $md-grey-400;
    padding: 40px 0;
}

ul.pagination li {
    float: right;
}
