@import "../../bower_components/foundation/scss/foundation/functions.scss";

$row-width: 1200px;
$column-gutter: rem-calc(25);

$font-family: "Droid Arabic Naskh", tahoma, sans;
$font-family-sans-serif: $font-family;
$header-font-family: $font-family;

$oil: $md-light-blue-500;
$primary-color: $md-light-blue-500;

$body-bg: $md-grey-100;
